doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title 学生信息管理系统
		link(rel="stylesheet",href="frameworks/bootstrap-3.3.0/css/bootstrap.min.css")
		script(src='frameworks/jquery-2.1.4/jquery.min.js')
		script(src='frameworks/bootstrap-3.3.0/js/bootstrap.min.js')
	body
		include includes/header

		//内容
		div.container
			div.row
				div.col-sm-12
					img.img-responsive(src="images/school.jpg")
		













